.nav-link > i {
	font-size: 15pt;
    position: relative;
    top: 2px; font-size: 15pt;
}

.nav-link > span {
    padding: 16px 0px 16px 8px;
    font-weight: bolder;
}

.nav-link > img{
	width: 40px;
	height:40px;
}

.nav-item > .dropdown-menu li > a {
	padding: 8px 16px;
}
.nav-item > .dropdown-menu i {
	width: 24px;
	position: relative;
	top: 2px;
} 